---
import type { Environments, Project, User } from "../../types/";
import DashboardIcon from "../../components/icons/DashboardIcon";
import ProjectIcon from "../../components/icons/ProjectIcon";
import NoSearchResultsIcon from "../../components/icons/NoSearchResultsIcon";
import EnvironmentList from "../../components/layout/EnvironmentList";
import LoginForm from "../../components/forms/LoginForm";
import NavBar from "../../components/layout/NavBar.astro";
import MainLayout from "../../layouts/main.astro";
import { fetchAPIGET } from "../../utils/fetchAPI";

const sessionToken = Astro.cookies.get("SESSION_TOKEN");
const projectName = Astro.url.pathname.replace(/\//g, "");
let user: User | null = null;
let project: Project | null = null;
let environments: Environments = [];
try {
    const headers = new Headers();
    headers.append("Cookie", `SESSION_TOKEN=${sessionToken?.value}`);
    const userRes = await fetchAPIGET({
        url: "/loggedin/",
        headers,
    });

    if (!userRes.data) {
        throw Error("Not logged in");
    }

    user = userRes.data;

    const res = await fetchAPIGET({
        url: `/environments/project/${Astro.params.project}`,
        headers,
    });

    project = res.data?.project || null;

    environments = res.data?.environments || [];
} catch {
    // handles errors below
} finally {
    // prevent browser history from displaying stale client state
    Astro.response.headers.append("Cache-Control", "no-cache, no-store");
}
---

<MainLayout description={project ? project.name : "project not found"}>
    <NavBar email={user?.email} userName={user?.name} slot="navbar" />
    {
        !user?.name ? (
            <LoginForm client:load reloadPage />
        ) : project ? (
            <>
                <div class="text-lg mb-2 md:flex md:items-center md:space-x-2 md:text-3xl">
                    <div class="flex items-center text-blue-500">
                        <DashboardIcon class="flex-none w-5 h-5 mr-1 md:w-7 md:h-7" />
                        <a class="block hover:underline" href="/dashboard/">
                            dashboard
                        </a>
                    </div>
                    <div class="hidden text-2xl text-gray-500 md:block">&#8227;</div>
                    <div class="flex items-center">
                        <ProjectIcon class="flex-none w-6 h-6 fill-gray-100 mr-1" />
                        <h1
                            title={project.name}
                            class="font-bold text-2xl text-ellipsis overflow-hidden max-w-[20rem] md:text-3xl"
                        >
                            {project.name}
                        </h1>
                    </div>
                </div>
                <EnvironmentList
                    client:load
                    projectName={project.name}
                    projectID={project.id}
                    environments={environments}
                />
            </>
        ) : (
            <div class="flex flex-col items-center justify-center p-4 bg-gray-950 border border-gray-600 rounded md:p-8">
                <div class="flex flex-col space-y-2 items-center w-full">
                    <NoSearchResultsIcon class="w-12 h-12 text-gray-200" />
                    <h1 class="text-center text-2xl text-red-500 md:text-left">
                        Unable to locate the &ldquo;{decodeURIComponent(projectName)}&rdquo;
                        project.
                    </h1>
                    <h2 class="text-center md:text-left">
                        The project may have been deleted or hasn&apos;t been created yet.
                    </h2>
                </div>
            </div>
        )
    }
</MainLayout>
