---
import type { Environments, Project, User } from "../../types/";
import DashboardIcon from "../../components/icons/DashboardIcon";
import ProjectIcon from "../../components/icons/ProjectIcon";
import EnvironmentList from "../../components/layout/EnvironmentList";
import LoginForm from "../../components/forms/LoginForm";
import NavBar from "../../components/layout/NavBar.astro";
import MainLayout from "../../layouts/main.astro";
import { fetchAPIGET } from "../../utils/fetchAPI";

const sessionToken = Astro.cookies.get("SESSION_TOKEN");
let user: User | null = null;
let project: Project | null = null;
let environments: Environments = [];
try {
    const headers = new Headers();
    headers.append("Cookie", `SESSION_TOKEN=${sessionToken?.value}`);
    const userRes = await fetchAPIGET({
        url: "/loggedin/",
        headers,
    });

    if (!userRes.data) {
        throw Error("Not logged in");
    }

    user = userRes.data;

    const res = await fetchAPIGET({
        url: `/environments/project/${Astro.params.project}`,
        headers,
    });

    project = res.data?.project || null;

    environments = res.data?.environments || [];
} catch {
    // handles errors below
}
---

<MainLayout description={project ? project.name : "project not found"}>
    <NavBar email={user?.email} userName={user?.name} slot="navbar" />
    {
        !user?.name ? (
            <LoginForm client:load reloadPage />
        ) : project ? (
            <>
                <div class="text-2xl mb-2 md:flex md:items-center md:space-x-2 md:text-3xl">
                    <a class="block text-blue-500 hover:underline" href="/dashboard/">
                        <DashboardIcon class="hidden w-6 h-6 md:inline" />
                        <span>dashboard</span>
                    </a>
                    <div class="hidden text-2xl text-gray-600 md:block">&#8227;</div>
                    <h1
                        title={project.name}
                        class="font-bold text-gray-100 text-ellipsis overflow-hidden max-w-[20rem]"
                    >
                        <ProjectIcon class="w-6 h-6 fill-gray-100 inline mr-1" />
                        <span>{project.name}</span>
                    </h1>
                </div>
                <EnvironmentList
                    client:load
                    projectName={project.name}
                    projectID={project.id}
                    environments={environments}
                />
            </>
        ) : (
            <h1>Project Not Found</h1>
        )
    }
</MainLayout>
