---
import NavHeader from "../components/layout/NavHeader.astro";
import GithubIcon from "../components/icons/GithubIcon";
import Toast from "../components/layout/Toast";
import concatTitle from "../utils/concatTitle";

interface Props {
    description?: string;
    hideHeader?: boolean;
    hideFooter?: boolean;
    title?: string;
    type?: string;
}

const { description, hideHeader, hideFooter, title, type } = Astro.props;
const canonicalURL = Astro.url.toString();
const documentTitle = concatTitle(title, description);
const documentType = type || "website";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="canonical" href={canonicalURL} />
        <meta name="generator" content={Astro.generator} />
        <!-- <link rel="dns-prefetch" href="https://images.ctfassets.net/" /> -->
        <!-- <link rel="preload" as="image" href="/bg.webp" /> -->
        <!-- <link rel="apple-touch-icon" sizes="192x192" href="/logo_192x192.png" /> -->
        <!-- <link rel="manifest" href="/site.webmanifest" /> -->
        <!-- <link rel="mask-icon" href="/logo_192x192.png" color="#01406C" /> -->
        <meta name="theme-color" content="#000000" />
        <meta name="robots" content="all" />
        <meta name="googlebot" content="all" />
        <meta property="og:locale" content="en_US" />
        <meta name="msapplication-TileColor" content="#000000" />
        <meta name="description" content={description} />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content={documentType} />
        <meta property="og:title" content={documentTitle} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={documentType} />
        <!-- <meta property="og:site_name" content="Matt Carlotta - Fullstack Software Engineer" /> -->
        <!-- <meta -->
        <!--   property="og:image" -->
        <!--   content="https://images.ctfassets.net/hb5otnhwin4m/5XlzNcNVgoachT9KBOv4TW/88244361945dafb35c79ef66effc8989/paintMe.webp" -->
        <!-- /> -->
        <!-- <meta -->
        <!--   property="og:image:secure_url" -->
        <!--   content="https://images.ctfassets.net/hb5otnhwin4m/5XlzNcNVgoachT9KBOv4TW/88244361945dafb35c79ef66effc8989/paintMe.webp" -->
        <!-- /> -->
        <!-- <meta property="og:image:width" content="250" /> -->
        <!-- <meta property="og:image:height" content="250" /> -->
        <!-- <meta -->
        <!--   property="og:image:alt" -->
        <!--   content="A fullstack developer who is passionate about open-source projects, helping the web development community, and building SEO optimized applications" -->
        <!-- /> -->
        <!-- <meta property="og:image:type" content="image/webp" /> -->
        <style is:inline>
            body,
            html {
                height: 100%;
                width: 100%;
            }

            body {
                color: #fff;
                margin: 0;
                background-color: rgb(1 0 7 / 1);
                background-repeat: no-repeat;
                color: #e5e7eb;
                font-family:
                    -apple-system,
                    BlinkMacSystemFont,
                    Segoe UI,
                    Roboto,
                    Oxygen,
                    Ubuntu,
                    Cantarell,
                    Fira Sans,
                    Droid Sans,
                    Helvetica Neue,
                    sans-serif;
            }

            .invisible-scrollbar::-webkit-scrollbar {
                display: none;
                scrollbar-width: none;
                -ms-overflow-style: none;
            }

            ::-webkit-scrollbar-track {
                background: #313131;
            }

            ::-webkit-scrollbar {
                height: 6px;
                width: 6px;
            }

            ::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 10px;
            }

            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            * {
                box-sizing: border-box;
                scrollbar-width: thin;
                scrollbar-color: #555;
            }
        </style>
        <title>{documentTitle}</title>
    </head>
    <body class="invisible-scrollbar">
        <Toast client:load />
        <header class="overflow-hidden">
            <a
                class="absolute left-[-9999px] top-4 z-50 rounded bg-white p-2 text-center text-black no-underline shadow-ring focus:left-5"
                href="#main"
            >
                Skip to content
            </a>
        </header>
        <slot name="navbar">
            {!hideHeader && <NavHeader />}
        </slot>
        <main id="main" class="mx-auto w-full max-w-main p-2.5">
            <div class="pb-10 min-h-mobile md:min-h-desktop">
                <slot />
            </div>
        </main>
        {
            !hideFooter && (
                <footer class="border-t border-t-gray-800 p-4 bg-gray-900">
                    <div class="mx-auto flex max-w-main justify-center items-center">
                        <p class="flex-1">
                            <a
                                class="text-gray-200 hover:text-gray-400"
                                aria-label="nvi github"
                                href="https://github.com/mattcarlotta/nvi-app/"
                                rel="noopener noreferrer"
                                target="_blank"
                            >
                                <GithubIcon class="w-6 h-6 inline-block" />
                            </a>
                        </p>
                        <p>Copyright &#169; {new Date().getFullYear()} Matt Carlotta</p>
                    </div>
                </footer>
            )
        }
    </body>
</html>
